

<h2><%= @article.title %></h2>

<section>
	<%= @article.body %>
</section>

<section>
	<%= link_to "Edit Article", edit_article_path(@article) %>
	<%= link_to "Delete Article", article_path(@article), method: :delete %>	
</section>

<h4>Comments: <%= @article.comments.size %> so far!</h4>
<section>
	<%= render partial: 'comments/form' %>
</section>
<section>
	<%= render partial: 'articles/comment', collection: @article.comments.reverse %>
</section>